@font-face {
  font-family: "River Adventure Personal Use Brush";
  font-style: normal;
  font-weight: normal;
  src: local("River Adventure Personal Use Brush"),
    url("River Adventure Personal Use.woff") format("woff");
}

h1 {
  font-family: "River Adventure Personal Use Brush";
  font-weight: 200;
  color: rgb(98, 207, 226);
}
